.FormBox {
  min-height: 100vh;
  .Form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .Input {
      input {
        width: 400px;
        height: 50px;
        border-radius: 10px;
        padding: 0px 10px;
        &.submit{
            cursor: pointer;
        }
      }
    }
  }
  .Details{
    .Box{
        .Head{
            display: flex;
            gap: 30px;
            h4{
                width: 33%;
                text-align: left;
            }
        }
        .Det{
            display: flex;
            gap: 30px;
            p{
                width: 33%;
                margin-top: 0;
                text-align: left;
            }
        }
    }
  }
}
.RegistrationBox{
  min-height: 100vh;
  min-width: 100vw;
  .Input{
    // display: inline-block;
    width: 400px;
  margin: auto;
    .Errormsg{
      height: 30px;
      div{
        font-size: 14px;
        text-align: left;
        color: red;
      }
    }
    &>input, >select{
      height: 50px;
      border-radius: 10px;
      padding: 0px 10px;
      width: 350px;
      border: 1px solid;
    }
  }
 
  .RegList{
    position: absolute;
    right: 30px;
    background-color: aliceblue;
    box-shadow: 0 0 10px;
    padding: 20px;
    border-radius: 10px;
  }
}
.Popup{
 color: red;
}
.FormSkill .Checkbox{
  width: 10px;
  height: 10px;
  border: 2px solid;
}
.FormSkill{
  display: flex;
  cursor: pointer;
}
.FormSkill .Checkbox.Checked{
  background-color: #1F51FF;
}